@using System.ComponentModel.DataAnnotations
@using Arvefordeleren_ClassLibrary.Models
@inject AssetService AssetService

@if (isVisible)
{
    <div class="modal">
        <div class="modal-content">
            <h3>Create New Asset</h3>
            <EditForm Model="@newAsset" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div>
                    <label>Name:</label>
                    <InputText @bind-Value="@newAsset.Name" />
                </div>
                <div>
                    <label>Value:</label>
                    <InputNumber @bind-Value="@newAsset.Value" />
                </div>
                <div>
                    <label>Separate Estate:</label>
                    <InputText @bind-Value="@newAsset.SeparateEstate" />
                </div>
                <button type="submit">Create Asset</button>
                <button type="button" @onclick="Close">Cancel</button>
            </EditForm>
        </div>
    </div>
}

@code {
    private Asset newAsset = new Asset();
    private bool isVisible = false;

    [Parameter]
    public EventCallback OnAssetCreated { get; set; }

    public void Show()
    {
        isVisible = true;
    }

    public void Close()
    {
        isVisible = false;
    }

    private async Task HandleValidSubmit()
    {
        await AssetService.CreateAsset(newAsset);
        newAsset = new Asset(); // Reset the form
        await OnAssetCreated.InvokeAsync(null); // Notify parent that an asset has been created
        Close(); // Close the modal after creating the asset
    }
}