@rendermode InteractiveServer
@inject AssetService AssetService

<div>
    @if (!isEditing)
    {
        <div>
            @Asset.Name
            Værdi: @Asset.Value
            Særeje: @Asset.SeparateEstate
            <button class="btn btn-primary" @onclick="EditAsset">Edit</button>
        </div>
    }
    else
    {
        <div>
            <input type="text" @bind="@Asset.Name" />
            <input type="number" @bind="@Asset.Value" />
            <input type="text" @bind="@Asset.SeparateEstate" />
            <button class="btn btn-primary" @onclick="SaveAsset">Save</button>
            <button class="btn btn-primary" @onclick="CancelEdit">Cancel</button>
        </div>
    }

</div>

@code {
    [Parameter]
    public Asset Asset { get; set; }

    private bool isEditing = false;

    private void EditAsset()
    {
        isEditing = true;
    }

    private async Task SaveAsset()
    {
        await AssetService.UpdateAsset(Asset);
        isEditing = false;
    }

    private void CancelEdit()
    {
        isEditing = false;
    }
}